.carousel-container {
    overflow: hidden;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.carousel-view {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-view img {
    width: 100%;
    height: auto;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    border: none;
}

.carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;
}
